:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #1B2223;
  --color-secondary: #3A4F50;
  --color-tertiary: #0EF6CC;
  --color-quaternary: #F4FEFD;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

body {
  background-color: var(--color-quaternary);
}


